version: "3.9"

services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      - ./artifacts:/app/artifacts

  streamlit:
    build: ./streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - api
    volumes:
      - ./artifacts:/app/artifacts